#navbar, #result{
    margin-bottom: 15px
}

#minimized-main-form, #result-window, .pdf-field, .extract-message{
    display: none
}

#col-rabin-karp-match, #winnowing-window-section-1, #winnowing-window-section-2{
    max-height: 460px;
    overflow-y: scroll;
    word-wrap: break-word;
}

span.mjx-chtml.MJXc-display{
    text-align: left !important
}

.text-container{
    max-height: 400px;
    overflow-y: scroll;
    word-wrap: break-word;
}

.k-gram-container{
    max-height: 400px;
    overflow-y: scroll;
    word-wrap: break-word;
}

/* SCROLLBAR =========================================== */
/* width */
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #fff; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}
/* SCROLLBAR =========================================== */