#float-background{
    background: rgba(0, 0, 0, .5);
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 9;
    display: none;
}

#float-input{
    background: white;
    position: fixed;
    width: 700px;
    margin-left: 50%;
    margin-top: 20%;
    transform: translate(-50%, -50%);
}

#navbar, #result{
    margin-bottom: 15px
}

#minimized-main-form, #result-window, .pdf-field, .extract-message, #setting-section{
    display: none
}

#col-rabin-karp-match, #winnowing-window-section-1, #winnowing-window-section-2{
    max-height: 460px;
    overflow-y: scroll;
    word-wrap: break-word;
}

span.mjx-chtml.MJXc-display{
    text-align: left !important
}

.text-container{
    max-height: 400px;
    overflow-y: scroll;
    word-wrap: break-word;
}

.k-gram-container{
    max-height: 400px;
    overflow-y: scroll;
    word-wrap: break-word;
}

#levenshtein-matrice-section{
    max-height: 500px;
    overflow-x: scroll;
    overflow-y: scroll;
}

.setting-option{
    cursor: pointer;
}

/* SCROLLBAR =========================================== */
/* width */
::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #fff; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}
/* SCROLLBAR =========================================== */